In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('covid income support.csv')
df

,Statistic,Quarter,Income Support Recipients,County,Sex,Age Group,Employment Record,UNIT,VALUE
0,Income in current period (t),2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,All ages,Same Employer,€,823.0
1,Income in current period (t),2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,All ages,Different Employer,€,675.0
2,Income in current period (t),2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,Under 25 years,Same Employer,€,NaN
3,Income in current period (t),2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,Under 25 years,Different Employer,€,NaN
4,Income in current period (t),2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,25 years and over,Same Employer,€,NaN
...,...,...,...,...,...,...,...,...,...
11659,Median Age,2021Q3,No supports in current period and supports in ...,Ireland,Female,All ages,Different Employer,Number,28.0
11660,Median Age,2021Q3,No supports in current period and supports in ...,Ireland,Female,Under 25 years,Same Employer,Number,NaN
11661,Median Age,2021Q3,No supports in current period and supports in ...,Ireland,Female,Under 25 years,Different Employer,Number,NaN
11662,Median Age,2021Q3,No supports in current period and supports in ...,Ireland,Female,25 years and over,Same Employer,Number,NaN
11663,Median Age,2021Q3,No supports in current period and supports in ...,Ireland,Female,25 years and over,Different Employer,Number,NaN

In [3]:
#get column labels
df.columns

Index(['Statistic', 'Quarter', 'Income Support Recipients', 'County', 'Sex',
       'Age Group', 'Employment Record', 'UNIT', 'VALUE'],
      dtype='object')

In [4]:
#get index labels
df.index

RangeIndex(start=0, stop=11664, step=1)

In [5]:
#drop columns Statistic and UNIT
df = df.drop(labels=['Statistic', 'UNIT'] , axis=1)
df

,Quarter,Income Support Recipients,County,Sex,Age Group,Employment Record,VALUE
0,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,All ages,Same Employer,823.0
1,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,All ages,Different Employer,675.0
2,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,Under 25 years,Same Employer,NaN
3,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,Under 25 years,Different Employer,NaN
4,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,25 years and over,Same Employer,NaN
...,...,...,...,...,...,...,...
11659,2021Q3,No supports in current period and supports in ...,Ireland,Female,All ages,Different Employer,28.0
11660,2021Q3,No supports in current period and supports in ...,Ireland,Female,Under 25 years,Same Employer,NaN
11661,2021Q3,No supports in current period and supports in ...,Ireland,Female,Under 25 years,Different Employer,NaN
11662,2021Q3,No supports in current period and supports in ...,Ireland,Female,25 years and over,Same Employer,NaN
11663,2021Q3,No supports in current period and supports in ...,Ireland,Female,25 years and over,Different Employer,NaN

In [6]:
#drop rows with nan
df = df.dropna()
df

,Quarter,Income Support Recipients,County,Sex,Age Group,Employment Record,VALUE
0,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,All ages,Same Employer,823.0
1,2021Q1,No supports in current period or previous peri...,Co. Clare,Both sexes,All ages,Different Employer,675.0
18,2021Q1,No supports in current period or previous peri...,Co. Cork,Both sexes,All ages,Same Employer,861.0
19,2021Q1,No supports in current period or previous peri...,Co. Cork,Both sexes,All ages,Different Employer,749.0
36,2021Q1,No supports in current period or previous peri...,Co. Cavan,Both sexes,All ages,Same Employer,737.0
...,...,...,...,...,...,...,...
11651,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,25 years and over,Different Employer,36.0
11652,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,39.0
11653,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,30.0
11658,2021Q3,No supports in current period and supports in ...,Ireland,Female,All ages,Same Employer,39.0
11659,2021Q3,No supports in current period and supports in ...,Ireland,Female,All ages,Different Employer,28.0

In [7]:
df.tail(25)

,Quarter,Income Support Recipients,County,Sex,Age Group,Employment Record,VALUE
11503,2021Q3,No supports in current period and supports in ...,Co. Offaly,Both sexes,All ages,Different Employer,28.0
11520,2021Q3,No supports in current period and supports in ...,Co. Roscommon,Both sexes,All ages,Same Employer,40.0
11521,2021Q3,No supports in current period and supports in ...,Co. Roscommon,Both sexes,All ages,Different Employer,29.0
11538,2021Q3,No supports in current period and supports in ...,Co. Sligo,Both sexes,All ages,Same Employer,40.0
11539,2021Q3,No supports in current period and supports in ...,Co. Sligo,Both sexes,All ages,Different Employer,27.0
11556,2021Q3,No supports in current period and supports in ...,Co. Tipperary,Both sexes,All ages,Same Employer,39.0
11557,2021Q3,No supports in current period and supports in ...,Co. Tipperary,Both sexes,All ages,Different Employer,29.0
11574,2021Q3,No supports in current period and supports in ...,Co. Waterford,Both sexes,All ages,Same Employer,40.0
11575,2021Q3,No supports in current period and supports in ...,Co. Waterford,Both sexes,All ages,Different Employer,38.0
11592,2021Q3,No supports in current period and supports in ...,Co. Wicklow,Both sexes,All ages,Same Employer,40.0
11593,2021Q3,No supports in current period and supports in ...,Co. Wicklow,Both sexes,All ages,Different Employer,28.0
11610,2021Q3,No supports in current period and supports in ...,Co. Westmeath,Both sexes,All ages,Same Employer,39.0
11611,2021Q3,No supports in current period and supports in ...,Co. Westmeath,Both sexes,All ages,Different Employer,28.0
11628,2021Q3,No supports in current period and supports in ...,Co. Wexford,Both sexes,All ages,Same Employer,40.0
11629,2021Q3,No supports in current period and supports in ...,Co. Wexford,Both sexes,All ages,Different Employer,28.0
11646,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,All ages,Same Employer,39.0
11647,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,All ages,Different Employer,29.0
11648,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,Under 25 years,Same Employer,21.0
11649,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,Under 25 years,Different Employer,21.0
11650,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,25 years and over,Same Employer,41.0
11651,2021Q3,No supports in current period and supports in ...,Ireland,Both sexes,25 years and over,Different Employer,36.0
11652,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,39.0
11653,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,30.0
11658,2021Q3,No supports in current period and supports in ...,Ireland,Female,All ages,Same Employer,39.0
11659,2021Q3,No supports in current period and supports in ...,Ireland,Female,All ages,Different Employer,28.0

In [8]:
df[(df['Sex'] == 'Male') & (df['VALUE'] > 0)]

,Quarter,Income Support Recipients,County,Sex,Age Group,Employment Record,VALUE
474,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,938.0
475,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,755.0
960,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,577.0
961,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,557.0
1446,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,1032.0
1447,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,865.0
1932,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,705.0
1933,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,657.0
2418,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,959.0
2419,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,763.0
2904,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,679.0
2905,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,626.0
3390,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,904.0
3391,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,691.0
3876,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,546.0
3877,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,423.0
4362,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,977.0
4363,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,777.0
4848,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,560.0
4849,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,474.0
5334,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,900.0
5335,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,680.0
5820,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,576.0
5821,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,476.0
6306,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,852.0
6307,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,656.0
6792,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,520.0
6793,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,412.0
7278,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,929.0
7279,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,731.0
7764,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,650.0
7765,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,560.0
8250,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,857.0
8251,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,647.0
8736,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,612.0
8737,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,521.0
9222,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,41.0
9223,2021Q1,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,33.0
9708,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,37.0
9709,2021Q1,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,27.0
10194,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,41.0
10195,2021Q2,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,34.0
10680,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,39.0
10681,2021Q2,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,31.0
11166,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Same Employer,41.0
11167,2021Q3,No supports in current period or previous peri...,Ireland,Male,All ages,Different Employer,32.0
11652,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Same Employer,39.0
11653,2021Q3,No supports in current period and supports in ...,Ireland,Male,All ages,Different Employer,30.0